{% extends 'member/dashboard_base.html' %}

{% block dashboard_main %}
<div class="container">
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="">
                <label for="name">In Charge</label>
                <select name="incharge">
                    {% for member in members %}
                    <option value="{{ member.id }}" {% if distributor and distributor.member.id == member.id %} selected {% endif %}>{{ member.user.first_name }} {{ member.user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{ distributor.name }}">
            </div>
            <div class="">
                <label for="phone">Phone Optional</label>
                <input type="text" class="form-control" name="phone" id="phone" value="{{ distributor.phone }}">
            </div>
            <div class="">
                <label for="fathers_name">Father's Name</label>
                <input type="text" class="form-control" name="fathers_name" id="fathers_name" value="{{ distributor.fathers_name }}">
            </div>
            <div class="">
                <label for="union">Union</label>
            <select name="union" class="form-control">
                <option value="Union 1" {% if distributor.union == "Union 1" %} selected {% endif %}>Union 1</option>
                <option value="Union 2" {% if distributor.union == "Union 2" %} selected {% endif %}>Union 2</option>
                <option value="Union 3" {% if distributor.union == "Union 3" %} selected {% endif %}>Union 3</option>
                <option value="Union 4" {% if distributor.union == "Union 4" %} selected {% endif %}>Union 4</option>
                <option value="Union 5" {% if distributor.union == "Union 5" %} selected {% endif %}>Union 5</option>
                <option value="Union 6" {% if distributor.union == "Union 6" %} selected {% endif %} >Union 6</option>
                <option value="Union 7" {% if distributor.union == "Union 7" %} selected {% endif %}>Union 7</option>
                <option value="Union 8" {% if distributor.union == "Union 8" %} selected {% endif %}>Union 8</option>
                <option value="Union 9" {% if distributor.union == "Union 9" %} selected {% endif %}>Union 9</option>
                <option value="10 Pourosoba" {% if distributor.union == "10 Pourosoba" %} selected {% endif %}>10 Pourosoba</option>
            </select>
            </div>
            <div class="">
                <label for="area">Area</label>
                <input type="text" class="form-control" name="area" id="area" value="{{ distributor.area }}">
            </div>
            <div class="">
                <label for="remarks">Remarks</label>
                <input type="text" class="form-control" name="remarks" id="remarks" value="{{ distributor.remarks }}">
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
{% endblock %}