{% extends 'member/dashboard_base.html' %}

{% block dashboard_main %}
<div class="container">
    <div class="row">
        <h3>Project: {{ project.name }} </h3>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Amount</th>
                <th>Commited on</th>
                <th></th>
                <th>Pay Date</th>
                <td></td>
                <!-- <td></td> -->
            </tr>
            {% for donation in donations %}
            <tr>
                <td>donation.user.first_name</td>
                <td>donation.user.last_name</td>
                <td>donation.user.username</td>
                <form method="post">
                {% csrf_token %}
                <td><input type="number" name="amount" id="amount" value="{{ donation.amount }}"></td>
                <td>{{ donation.commitdate }}</td>
                <td><input type="checkbox" name="paid" id="paid" {% if donation.paid %} checked {% endif %}>Paid</td>
                <td><input type="date" name="paydate" id="paydate" value="{{ donation.paydate }}"></td>
                <td><button type="submit">Save</button></td>
                <!-- <td><a href="/admin/project/{{project.id}}/delete-donation/{{ donation.id }}">Delete</a></td> -->
                </form>
            </tr>
            {% endfor %}
           
            <button type="submit" class="btn btn-success">Save</button>
        </form>
        </table>
    </div>
</div>
{% endblock %}