{% extends 'member/dashboard_base.html' %}

{% block dashboard_main %}
<div class="container">
    <div class="row">
        <div class="col-11">
            <p><h3>Project: {{ project.name }} </h3><br/></p>
        </div>
        <dov class="col-1">
            <br/>
            <h5><a class="btn btn-success" href="/admin/projects/{{ project.id }}/export-donations" target="_blank">Export Excel</a></h5>
        </dov>
    </div>
    <div class="row">
        <br/>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Amount</th>
                <th>Commited on</th>
                <th></th>
                <th>Pay Date</th>
                <th>Remarks</th>
                <td></td>
                <!-- <td></td> -->
            </tr>
            {% for donation in donations %}
            <tr>
                <td>{{ donation.user.first_name }}</td>
                <td>{{ donation.user.last_name }}</td>
                <td>{{ donation.user.username }}</td>
                <form method="post">
                {% csrf_token %}
                <input type="hidden" name="donation_id" value="{{ donation.id }}">
                <td><input type="number" name="amount" id="amount" value="{{ donation.amount }}"></td>
                <td>{{ donation.commitdate }}</td>
                <td><input type="checkbox" name="paid" id="paid_{{ donation.id }}" {% if donation.paid %} checked {% endif %}>Paid</td>
                <td>{% if donation.paid %} {{ donation.paydate }} {% else %} <input type="date" name="paydate" id="paydate_{{ donation.id }}" value="{{ donation.paydate }}"> {% endif %}</td>
                <td>{% if donation.paid %} {{ donation.remarks }} {% else %} <input type="text" name="remarks" id="remarks_{{ donation.id }}"> {% endif %}</td>
                <td><button class="btn btn-success" type="submit">Save</button></td>
                <td><a class="btn btn-danger" href="/admin/donation/delete/{{ donation.id }}">Delete</a></td>
                <script>
                    $(document).ready(function() {

                        $('#paid_{{ donation.id }}').change(function() {

                            if ($('#paydate_{{ donation.id }}').attr('required')) {
                                $('#paydate_{{ donation.id }}').removeAttr('required');
                            } else {
                                $('#paydate_{{ donation.id }}').attr('required','required');
                            }

                        });

                        });
                </script>    
                </form>
            </tr>
            {% endfor %}
           
        </table>
    </div>
</div>
{% endblock %}