{% extends 'shared/base.html' %}
{% load static %}

{% block main_body %}
<div class="container">
    
    <div class="jumbotron">
    <div class="row">
            <div class="col-md-8">
                <h2>{{ project.name }} </h2>
                <h4>So far donated £{{ total }} of target £{{ project.target_amount }}</h4>
                <p>{{ project.description }}</p>
            </div>
            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <lable for="first_name">First Name</lable>
                        <input type="text" class="form-control" name="first_name" id="first_name" {% if request.user.is_authenticated %} value="{{ request.user.first_name }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <lable for="last_name">Last Name</lable>
                        <input type="text" class="form-control" name="last_name" id="last_name" {% if request.user.is_authenticated %} value="{{ request.user.last_name }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <lable for="phone">Phone</lable>
                        <input type="text" class="form-control" name="phone" id="phone" {% if request.user.is_authenticated %} value="{{ request.user.username }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <lable for="amount">Amount</lable>
                        <input type="number" class="form-control" name="amount" id="amount">
                    </div>
                    <button type="submit">Donate</button>
                </form>
                <p style="text-align: center;">{{msg}}</p>
            </div>
        </div>
        </div>
        </div>
        <table>
            <tr>
                <!-- <td></td> -->
                <td>Name</td>
                <td>Status</td>
            </tr>
            {% for donation in donations %}
            <tr>
                <!-- <td style="text-align: center;"><img class=" img-responsive" style="max-width: 50px;" src="/media/{{ donation.img }}"></td> -->
                <td>{{ donation.name }}</td>
                <td>{% if donation.paid %} Paid {% else %} Comitted {% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        
    {% endblock %}