{% extends 'shared/base.html' %}
{% load static %}

{% block main_body %}
<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>Project Name</th>
                <th>Project Target</th>
                <td></td>
            </tr>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }} </td>
                <td>{{ project.target_amount }}</td>
                <td><a href='/projects/{{ project.id }}/{{ project.name }}/'>See Details</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}